api.listening_addr = "127.0.0.1:5005"
webui.listening_addr = "127.0.0.1:8080"

[[webhook_endpoint]]
name = "webhook_fly_secrets_updater"
location.oci = "docker.io/getobelisk/components_fly_webhook_fly_secrets_updater:2026-01-10@sha256:e4c834f152c9b68fc007588d74332c198e237080ba43f1718b67174f1a52d9ba"
http_server = "webhook_server"
routes = [{ methods = ["POST"], route = "/" }]
env_vars = ["FLY_API_TOKEN"]
forward_stdout = "stderr"
forward_stderr = "stderr"

[[http_server]]
name = "webhook_server"
listening_addr = "0.0.0.0:9090"
